canvas{
    border:1px solid black;
}

.pen_eraser, .pen_color{
    list-style:none;
}

ul li{
    display:inline;
    margin:3px;
}

.pen_eraser a:hover{
    color:red;
}

.pen_color a:hover{
    border:3px solid darkorange;
}

.pen_eraser li.on a{
    color:red;
}

.pen_color li.on a{
    border:3px solid darkorange;
}

.eraser_width a:hover{
    color:skyblue;
}

.eraser_width li.on a{
    color:skyblue;
}
.pen_width, .eraser_width{
    display:inline;
}



.pen_width li, .pen_width span{
    display:inline;
}